<div class="container ">
    <div  class="row vh-100 justify-content-center align-items-center">
    <div class="col-6">
        <div class="card align-items-center ">
        <div class="card-body">
            <h3 class=" mb-4 mt-5 textos">El correo no ha sido verificado</h3>
            <p>Revise su bandeja de entrada y verifique el correo para poder usar la aplicación</p>
                <button routerLink="/usuario" class="btn btn-secondary" >Volver</button>
        </div>
        </div>
        
    </div>
</div>

</div>
