<div class="container ">
    <div class="row vh-100 justify-content-center align-items-center">
    <div class="col-6">
        <div class="card align-items-center ">
        <div class="card-body">
            <h4 class=" mb-4 mt-5 textos">Iniciar sesión</h4>

            <form action="">
            
            <input type="text" class="form-control mb-3 textos" placeholder="Ingrese su correo">
            
            <input type="password"  class="form-control mb-3 textos" placeholder="Ingrese su contraseña">
          <div class="row">
            <div class="col-7">
            <a href="#">Crear cuenta</a>
            <br>
            <a href="#">Restablece tu contraseña</a>
            </div>
            <div class="col-5">
                <button class="btn btn-primary  mb-5 float-end textos">Iniciar sesión</button>
            </div>
         </div>
        </form>

        </div>
        </div>
        
    </div>
</div>

</div>
