<div class="container ">
    <div *ngIf = "loader" class="d-flex justify-content-center align-self-center">
        <app-spinner></app-spinner>
    </div>
    <div *ngIf="!loader" class="row vh-100 justify-content-center align-items-center">
    <div class="col-6">
        <div class="card p-5 ">
        <div class="card-body">
            <h4 class=" mb-4 textos">Recuperar contraseña</h4>

            <form [formGroup]="recuperarForm" (ngSubmit)="recuperarPassword()">
            
            <input type="text" formControlName="emailForm" class="form-control textos" placeholder="Ingrese su correo">
           <span class="text-danger" *ngIf="recuperarForm.get('emailForm')?.hasError('required') &&
           recuperarForm.get('emailForm')?.touched">
               El correo es requerido
           </span>
           <span class="text-danger" *ngIf="recuperarForm.get('emailForm')?.hasError('email') &&
           recuperarForm.get('emailForm')?.touched">
               El correo es invalido
           </span>
            <button type="submit" class="btn btn-primary form-control mt-3 textos">Enviar</button>
            </form>
         </div>
        

        </div>
        </div>
        
    </div>
</div>


